<!DOCTYPE HTML>
<html>
  <head>

    <style type="text/css">
     
      #map-canvas {
        height: 100%;
        position: absolute;
        top: 0;
        bottom: -200px;
        left: 0;
        right: 0;
        z-index: 0;
      }

      #container {
        margin-left: 60px;
        margin-right: 150px;
        height: 100%;
        width: 90%;
        z-index: 100;
        position: relative;
      }
      
    </style>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"/>

        <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3key={AIzaSyBiVydJrssXEs9BpQoO7MX7RSsU13CuJ20}&sensor=false">
        </script>

        <script type="text/javascript"
        src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0">
        </script>

        <script 
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing">
        </script>
  
  </head>





  <body>
     
    <div id="container"></div>
   
    <div id="map-canvas"/> 

  </body>

</html>