<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <title>COMP2013 Group Blog. COASTER 3D PROJECT. | {% if page.title %}{{ page.title }}{% else %}That's techSoc to you{% endif %}
        </title>
        
        <link href="/css/all.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3key={AIzaSyBiVydJrssXEs9BpQoO7MX7RSsU13CuJ20}&sensor=false">
        </script>

        <script type="text/javascript"
        src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0">
        </script>

        <script 
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing">
        </script>

        <script type="text/javascript" src="http://openspace.ordnancesurvey.co.uk/osmapapi/openspace.js?key=BA08531D8339984EE0405F0AC86026A9"></script>  

        <script type="text/javascript" src="/js/all.js"></script>

    </head>


       <div id="contents">
        {{ content }}
       </div>

</html>




